{% extends "base.html" %}
{% block title %}{% block head_title %}{% endblock head_title %}{% endblock title %}

{% block content %}
<h1>Endossier</h1>


<p>Prefix <em>en-</em></p>
<p>“to cause (a person or thing) to be in” the place, condition, or state named by the stem</p>

<p>&nbsp</p>

<p>Dossier (noun)</p>
<p>A collection of documents about a particular person, event, or subject.</p>

<p>&nbsp</p>

<p>Endossier (verb)</p>
<br>1. To place information about a person into a dossier.
<br>2. An app that helps keep track of relationships.

<p>&nbsp</p>


{% endblock %}
